# Python
__pycache__/
*.pyc
.venv/

# Django
backend/staticfiles/
backend/db.sqlite3

# Node
frontend/node_modules/
frontend/dist/

# Env / local
.env
.env.local
.env.production

# OS
.DS_Store
celerybeat-schedule
celerybeat-schedule.db
